*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    background: rgb(0,168,132);
    background: linear-gradient(0deg, rgb(236,229,221) 85%,  rgb(18,140,126) 10%);
    background-repeat: no-repeat;
    overflow-y: hidden;
    font-family: 'Montserrat', sans-serif;
}

.contenitore{
    background-image: url(./img/mine.jpg);
    width: 1400px;
    height: 850px;
    display: flex;
}

.left-side{
    background-color: white;
    height: 100%;
    width: 30%;
    border: 2px solid rgb(219, 219, 219);
}

.avatar{
    width: 15%;
}

.right-side{
    height: 100%;
    width: 70%;
    border-top: 2px solid rgb(219, 219, 219);
    border-right: 2px solid rgb(219, 219, 219);
    border-bottom: 2px solid rgb(219, 219, 219);
}

.profile-header{
    background-color: rgb(234, 234, 234);
    height: 70px;
    width: 100%;
}

.io-image{
    background-image: url(./img/avatar_io.jpg);
    width: 50px;
    height: 50px;
    background-position: center;
    background-size: contain;
    border-radius: 50%;
}

.notification-section{
    background-color: rgb(142, 218, 252);
    height: 70px;
    width: 100%;
}

.cerchio{
    width: 50px;
    height: 50px;
    background-color: white;
    color: rgb(142, 218, 252);
    border-radius: 50%;
}

.didascalia{
    font-size: small;
}

.search{
    border-bottom: 1px solid rgb(228, 228, 228);
    width: 100%;
    height: 45px;
}

.barra-ricerca{
    border: 1px solid rgb(228, 228, 228);
    height: 30px;
    width: 97%;
    font-size: small;
}

.sezione-messaggio{
        /* width: 100%;
        height: 60px; */
        border-bottom: 1px solid rgb(241, 241, 241);
    } 

.profile-image{
    background-image: url(./img/avatar_1.jpg);
    width: 50px;
    height: 50px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    background-repeat: no-repeat;
}

.anteprima{
    color: grey;
    font-size: small;
}


.green-cloud{
    background-color: rgb(213, 249, 186);
    display: inline-block;
    border-radius: 15px;
    align-items: flex-end;
}

.white-cloud{
    background-color: white;
    display: inline-block;
    border-radius: 15px;
    align-items: flex-end;
}


.hoverclass:hover{
    background-color: rgb(247, 247, 247);
}




.sezione-scrivi{
    height: 70px;
    width: 100%;
    background-color: rgb(234, 234, 234);
}

.messaggio-input{
    width: 800px;
    border: 0px;
    border-radius: 20px;
    height: 40px;
}